<div class="board" [ngClass]="{ 'victory': controlService.victory, 'loss': controlService.loss }">
    <div class="starting-message" *ngIf="!controlService.playing">
        <button mat-fab class="board-button" extended (click)="controlService.start_game()">
            Start Game
        </button>
    </div>
    <table>
        <tr *ngFor="let row of controlService.tiles; let i = index" class="row">
            <td *ngFor="let cell of row; let j = index" class="cell">
                <input [disabled]="check_disabled( cell ) || !controlService.playing" class="text-input" [ngModel]="get_cell_value( cell )" maxlength="1" type="text" (ngModelChange)="on_cell_change($event, i, j)">
            </td>
        </tr>
    </table>
</div>