.board {
    width: 80%;
    height: 80%;
    display: table;
}

.starting-message {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    width: 100%
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.text-input {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 300%;
    height: 100px;
    width: 100px;
}

.row:nth-child(3) {
    border-bottom: 5px solid red;
}

.cell:nth-child(3) {
    border-right: 5px solid red;
}

.victory {
    background-color: green;
}

.loss {
    background-color: red;
}